*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: brown;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 10px;
}

.logo{
    margin-top: 15px;
    margin-left: 15px;
}

.logo img{
    width: 80px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.opcoes{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.user img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    cursor: pointer;
}

.user img:hover{
    background-color: rgba(251, 249, 249, 0.534);
    border-radius: 100%;
}

.user-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 70px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    overflow: hidden;
}

.user-menu span {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background 0.3s;
    cursor: pointer;
}

.user-menu span:hover {
    background: #dbd9d9;
}

.user-menu #sair:hover{
    background-color: red;
    color: white;
}

main{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}

table {
    width: 80%;
    margin: 15px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: rgb(65, 14, 14);
    color: white;
    text-transform: uppercase;
}

tr:hover {
    background-color: #f1f1f1;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.expensive_cash{
    width: 30%;
    text-align: center;
}

.expensive_spent{
    width: 70%;
    text-align: center;
}

.categoria{
    text-align: center;
    width: 200px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.status {
    text-align: center;
}

.status select{
    text-align: center;
    width: 100px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.ativo {
    color: green;
    font-weight: bold;
}
.inativo {
    color: red;
    font-weight: bold;
}


.btns{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#delete-btn{
    background-color: #ff0000;
    color: white;
}

#delete-btn:hover {
    background-color: #a80000;
}


#save-btn {
    background-color: #28a745;
    color: white;
}

#save-btn:hover {
    background-color: #218838;
}

#add-btn {
    background-color: #c98620;
    color: white;
}

#add-btn:hover {
    background-color: #996619;
}

.btn-concluir{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
}

.btn-concluir:hover{
    background-color: #218838;
}

#date-btn{
    width: 400px;
    height: 40px;
    text-align: center;
}

