*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: brown;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 10px;
}

.logo{
    margin-top: 15px;
    margin-left: 15px;
}

.logo img{
    width: 80px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

header nav ul{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.2s;
}

header nav ul a:hover{
    color: rgb(212, 211, 211);
    transition: 0.2s;
}

header nav ul a li{
    margin: 0px 15px 0px 15px;
}



.opcoes{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.user img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    cursor: pointer;
}

.user img:hover{
    background-color: rgba(251, 249, 249, 0.534);
    border-radius: 100%;
}

.user-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 70px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    overflow: hidden;
}

.user-menu span {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background 0.3s;
    cursor: pointer;
}

.user-menu span:hover {
    background: #dbd9d9;
}

.user-menu #sair:hover{
    background-color: red;
    color: white;
}

main{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}


table {
    width: 80%;
    margin: 15px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
th, td {
    padding: 12px;
    text-align: center;
    cursor: pointer;
}

td{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

th {
    background-color: rgb(65, 14, 14);
    color: white;
    text-transform: uppercase;
}

tr:hover {
    background-color: #f1f1f1;
}

input, select{
    width: 50%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    color: #000;
    opacity: 1; 
    cursor: default; 
}

input:disabled, select:disabled{
    border: 1px solid #ddd;
    background-color: white;
    color: #000;
    opacity: 1; 
} 



.btn-flutuante {
    display: none;
    top: -9900px;
    position: absolute;
    padding: 8px 12px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    z-index: 1000;
    cursor: pointer;
}


.btn-flutuante:hover{
    background-color: #0354a5;
}

.td-expensive_id{
    display: none;
}

.expensive_cash{
    width: 30%;
    text-align: center;
}

.expensive_spent{
    width: 70%;
    text-align: center;
}

.categoria{
    text-align: center;
    width: 200px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.status {
    text-align: center;
}

.status select{
    text-align: center;
    width: 100px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.ativo {
    color: green;
    font-weight: bold;
}
.inativo {
    color: red;
    font-weight: bold;
}


.btns{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.lancamentos{
    display: flex;
    align-items: center;
}

.lancamentos p{
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}

.date{
    display: flex;
}

.date div{
    margin: 0px 15px 0px 15px;
}

.date #mesAno{
    margin-top: 13px;
    min-width: 150px;
    text-align: center;
}

.date button{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-deletar, #delete-btn{
    background-color: #ff0000;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-deletar:hover, #delete-btn:hover {
    background-color: #d40000;
}


#save-btn {
    background-color: #28a745;
    color: white;
}

#save-btn:hover {
    background-color: #218838;
}

#add-btn {
    background-color: #23c920;
    font-size: 32px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 2px;
    margin-right: 10px;
}

#add-btn:hover {
    background-color: #158013;
}

#cancelar-btn{
    background-color: red;
    font-size: 32px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 2px;
}

#cancelar-btn:hover{
    background-color: rgb(211, 0, 0);
    font-size: 32px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}


.btn-concluir{
    position: absolute;
    cursor: pointer;
    z-index: 1000;
    background-color: #218838;
    color: white;
    border-radius: 50%;
    padding: 5px;
}

#btn-concluir{
    display: none;
}

.btn-concluir-edicao{
    position: absolute;
    cursor: pointer;
    z-index: 1000;
    background-color: #0066cc;
    color: white;
    border-radius: 50%;
    padding: 5px;
}


#btn-concluir-editar{
    display: none;
}


.btn-concluir:hover{
    background-color: #2eac49;
}

.btn-concluir-edicao:hover{
    background-color: #0354a5;
}


#date-btn{
    width: 400px;
    height: 40px;
    text-align: center;
}

.desabilitado{
    cursor:not-allowed
}


@media (max-width: 768px) { /* Celulares médios e tablets pequenos */

}

@media (min-width: 769px) and (max-width: 1024px) { /* Tablets grandes e notebooks pequenos */

}

@media (min-width: 1025px) and (max-width: 1366px) { /* Notebooks médios e grandes */
    table {
        margin: 10px auto;
        margin-bottom: 30px;
    }
}

